/* Importing Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    background-color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}

/* ! Carousel */
.h-carousel
{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position:relative;
}

.h-carousel-item
{
    position:absolute;
    inset: 0 0 0 0;
}

.h-carousel-item
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-carousel-content
{
    position:absolute;
    top: 20%;
    width: 1500px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px black;
}

.h-carousel-author
{
    font-weight: bold;
    letter-spacing: 10px;
}

.h-carousel-title, .h-carousel-topic
{
    font-weight: bold;
    font-size: 7em;
    line-height: 1.3em;
}

.h-carousel-topic
{
    color:crimson;
}

.h-carousel-buttons
{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap:5px;
    margin-top: 20px;
}

.h-carousel-buttons button
{
    background-color: #eee;
    color:black;
    letter-spacing: 3px;
    font-weight: 700;
     ;
}

.h-carousel-buttons button:nth-child(2){
    background-color:transparent;
    color: #eee;
    border: 3px solid red;
    text-shadow: 1px 1px 1px black;
}
/*! Thumbnail */

.h-carousel-thumbnail
{
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;    
}

.h-carousel-thumbnail-item
{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    /*
    border-radius: 50px;
    */
}

.h-carousel-thumbnail-item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.h-carousel-thumbnail-content
{
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    border-radius:20px;
}

.h-carousel-thumbnail-title
{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 0 5px 10px black;
}

/* ! arrow */

.arrows {
    position: absolute;
    top:60%;
    right: 67%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap:10px;
    align-content: center;
}

.arrows button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 26, 26, 0.45);
    border:none;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    z-index: 100;
}

.arrows button:hover
{
    width: 42px;
    height: 42px;
    background-color: #eee;
    color: #555;
    transition: 1s ease;
}

.h-carousel .h-carousel-item:nth-child(1)
{
    z-index: 1;
}

.h-carousel-item:nth-child(1) .h-carousel-author,
.h-carousel-item:nth-child(1) .h-carousel-title,
.h-carousel-item:nth-child(1) .h-carousel-topic,
.h-carousel-item:nth-child(1) .h-carousel-description,
.h-carousel-item:nth-child(1) .h-carousel-buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.5s linear 1 forwards;
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.h-carousel-item:nth-child(1) .h-carousel-title
{
    animation-delay: 1.2s;
}

.h-carousel-item:nth-child(1) .h-carousel-topic
{
    animation-delay: 1.4s;
}

.h-carousel-item:nth-child(1) .h-carousel-description
{
    animation-delay: 1.6s;
}

.h-carousel-item:nth-child(1) .h-carousel-buttons
{
    animation-delay: 1.8s;
}

.next-carousel .h-carousel-item:nth-child(1) img
{
    width: 150px;
    height: 220px;
    position:absolute;
    left: 55%;
    bottom:150px;
    border-radius: 20px;
    animation: showImage 0.3s linear 1 forwards;
}

@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.next-carousel .h-carousel-thumbnail .h-carousel-thumbnail-item:nth-last-child(1)
{
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.next-carousel .h-carousel-thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0);
    }
}

.prev-carousel .h-carousel-item:nth-child(2)
{
    z-index: 2;
}

.prev-carousel .h-carousel-item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 3s linear 1 forwards;
}

@keyframes outImage 
{
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 150px;
    }
    
}



















